log/
log/*
CapyZn/log/selecionando.png
nflix/features/support/env.rb
CapyZn/log/selecionando.png
CapyZn/log/Sort_Item.png
CapyZn/log/selecionando.png
CapyZn/log/Adicionando_a_foto.png
CapyZn/log/Adicionando_Arquivo_txt.png
CapyZn/log/adicionando_produto.png
CapyZn/log/buscando_com_find.png
CapyZn/log/confirmando.png
CapyZn/log/data.png
CapyZn/log/desmarcando.png
CapyZn/log/dismiss_prompt.png
CapyZn/log/enviando_teclas.png
CapyZn/log/find_e_set_true.png
CapyZn/log/item_composto.png
CapyZn/log/item_especifico.png
CapyZn/log/logando_com_sucesso.png
CapyZn/log/logando_com_sucesso2.png
CapyZn/log/marcando_opcao.png
CapyZn/log/Movendo_card.png
CapyZn/log/no_confirmada.png
CapyZn/log/novo_cadastro.png
CapyZn/log/prompt.png
CapyZn/log/selecionando.png
CapyZn/log/Seleo_Simples.png
CapyZn/log/Sort_Item.png
CapyZn/log/Testando_mouse.png
CapyZn/log/Visitar_a_pagina.png
CapyZn/debug.log
log/Adicionando_a_foto.png
log/Adicionando_Arquivo_txt.png
log/adicionando_produto.png
log/alerta.png
log/buscando_com_find.png
log/confirmando.png
log/data.png
log/desmarcando.png
log/dismiss_prompt.png
log/enviando_teclas.png
log/find_e_set_true.png
log/item_composto.png
log/item_especifico.png
log/logando_com_sucesso.png
log/logando_com_sucesso2.png
log/marcando_opcao.png
log/Movendo_card.png
log/no_confirmada.png
log/novo_cadastro.png
log/prompt.png
log/selecionando.png
log/Seleo_Simples.png
log/Sort_Item.png
log/Testando_mouse.png
log/Visitar_a_pagina.png
debug.log
spec/fixtures/arquivo.txt
spec/fixtures/imagem.png
